<ion-view title="informacion" id="page3">
    <ion-content padding="true" class="has-header">
        <div>NOMBRE: FACUNDO
            <br>APELLIDO: vega
            <br>GITHUB:
            <a href="https://github.com/facundoVega">github.com/facundoVega </a>
                <br>E</a>
        </div>
        <div id="informacion-markdown5" style="color:#000000;">
            <p>E-MAIL: horacio_facundo.vega@hotmail.com</p>
        </div>
        <div id="informacion-markdown6" style="color:#000000;">
            <p>CURSO 4A</p>
        </div>
    </ion-content>
</ion-view>