<ion-view title="Login" id="page2">
    <ion-content padding="true" style="background: url(img/OEAVLOOBRBCceyMEGVc1_guazon.jpg) no-repeat center;background-size:cover;" class="has-header">
        <form id="login-form1" class="list">
            <ion-list id="login-list1">
                <label class="item item-input" id="login-input1">
                    <span class="input-label">Username</span>
                    <input type="text"  ng-model="datos.nombre" placeholder="">
                </label>
                <label class="item item-input" id="login-input2">
                    <span class="input-label">Password</span>
                    <input type="password"  placeholder="">
                </label>
            </ion-list>
            <div class="spacer" style="height: 40px;"></div>
            <a ng-click="IrMenu()" id="login-button1" class="button button-stable  button-block">Log in</a>
        </form>
    </ion-content>
</ion-view>