<ion-view title="menu" hide-back-button="true" id="page4">
    <div class="bar bar-subheader">
  <h2 class="title">USUARIO: {{valores.nombre}}</h2>
</div>
    <ion-content padding="true" style="background: url(img/b8LmuhTj6ImfP338BWpw_guazon2.jpg) no-repeat center;background-size:cover;" class="has-header">
        <h3> USUARIO: {{valores.nombre}}
        <ion-list id="menu-list2">
            <ion-item class="item-icon-right" id="menu-list-item1" ui-sref="preguntas">Preguntas
                <i class="icon ion-chevron-right"></i>
            </ion-item>
            <ion-item class="item-icon-right" id="menu-list-item2" ui-sref="informacion">Informacion
                <i class="icon ion-chevron-right"></i>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>