<ion-view title="Preguntas" id="page1">
   <!--<ion-content padding="true" class="has-header">--><ion-content padding="true" id="imgFondo" style="background: url(img/OEAVLOOBRBCceyMEGVc1_guazon.jpg) no-repeat center;background-size:cover;" class="has-header">
        <div id="preguntas-markdown8" style="color:#000000;">
          


            <p><h1>{{pregunta.preg.pregunta}}</h1>
                
            </p>
        </div>
        <div></div>
        <div>
            <button id="opcion1"  class="button button-full button-positive" ng-click="Boton('opcion1')">
                 {{pregunta.preg.opcion1}}
            </button>
        </div>
        <div>
            <button id="opcion2" class="button button-full button-positive" ng-click="Boton('opcion2')">
                {{pregunta.preg.opcion2}}
            </button>
        </div>
        <div>
            <button  id="opcion3" class="button button-full button-positive" ng-click="Boton('opcion3')">
                {{pregunta.preg.opcion3}}
            </button>

            <button id="btnProxima"  class="button button-full button-positive" ng-click="Proxima()"> 
                Proxima
            </button>
        </div>

        <h1>{{respuesta.resultado}}</h1>
        <div id="tablaUsuarios">
            <h1>USUARIOS Y SUS PUNTAJES</h1></br>

            <div ng-repeat="usuarios in misUsuarios">
                <h3 align="center">{{usuarios.usuario}} {{usuarios.puntaje}} </h3>
            </div> 
              
        
         

        </div>
      


    </ion-content>
</ion-view>