<ion-view title="Preguntas" id="page1">
   
        <div id="preguntas-markdown8" style="color:#000000;">
            <p><h1>{{misPreguntas[0].pregunta}}</h1>
                
            </p>
        </div>
        <div></div>
        <div>
            <button  class="button button-full button-positive" ng-click="Boton('opcion1')">
                {{misPreguntas[0].opcion1}}
            </button>
        </div>
        <div>
            <button  class="button button-full button-positive" ng-click="Boton('opcion2')">
                {{misPreguntas[0].opcion2}}
            </button>
        </div>
        <div>
            <button  class="button button-full button-positive" ng-click="Boton('opcion3')">
                {{misPreguntas[0].opcion3}}
            </button>
        </div>

        <h1>{{respuesta.resultado}}</h1>
    </ion-content>
</ion-view>